/* ================= resets ==================== */


ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

a:focus, input:focus, textarea:focus, button:focus,select:focus { outline: 0 solid;}